body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headline{
  text-align: center;
  text-shadow: rgb(86, 86, 86) 1px 0 2px;
  font-family: 'Orbitron', sans-serif;

}

.title{
font-family: 'Orbitron', sans-serif;
}

.top{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.controls {
  background-color: black;
}

blockquote{
  margin: 0, 0, 0 ,0;
  border-left-color: #29b6f6; 

}

p{
  margin: 0;
}

.controlText {
  color: azure;
  font-size: 0.9rem;
}

.row {
  margin: 0;
}

.user-content{
  padding: 10px;
}

.collection{
  border: none;
}

.addcardscontainer{
  padding: 30px;
}